.pageContainer {
	padding: 0 16px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	padding: 16px;
	background-color: rgb(211, 211, 211);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}

.centerSlot {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(169, 169, 169);
}

.content {
	margin-top: calc(70px + 16px);
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hero {
	background-color: rgb(229, 228, 226);
	border-radius: 4px;
	height: 200px;
}

.otherComponent {
	height: 900px;
	background-color: rgb(178, 190, 181);
}
